RewriteEngine On RewriteCond %{SERVER_PORT} 80RewriteCond %{HTTP_HOST} ^(www\.)?multistrongply\.comRewriteRule ^(.*)$ https://www.multistrongply.com/$1 [R,L]RewriteEngine OnRewriteRule ^http://www.multistrongply.com$ / [NC,R,L]RewriteCond %{HTTP_HOST} !^(.*)\.multistrongply.com$ [NC] RewriteRule ^(.*)$ https://www.multistrongply.com/$1 [R=301,L]Options +FollowSymlinksRewriteEngine OnRewriteCond %{HTTP_HOST} ^multistrongply.com [NC]RewriteRule ^(.*)$ https://www.multistrongply.com/$1 [R=301,NC]RewriteRule ^index.html$ https://www.multistrongply.com/ [R=301,L]